USE [master]
GO
/****** Object:  Database [Negara]    Script Date: 11/11/2016 15.08.49 ******/
CREATE DATABASE [Negara]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Negara', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Negara.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Negara_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Negara_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Negara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Negara]
GO
USE [Negara]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/11/2016 15.08.49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblKabupaten]    Script Date: 11/11/2016 15.08.49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKabupaten](
	[id_kabupaten] [int] IDENTITY(1,1) NOT NULL,
	[id_kota] [int] NOT NULL,
	[nama_kabupaten] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TblKabupaten] PRIMARY KEY CLUSTERED 
(
	[id_kabupaten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblKota]    Script Date: 11/11/2016 15.08.49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKota](
	[id_kota] [int] IDENTITY(1,1) NOT NULL,
	[id_propinsi] [int] NOT NULL,
	[nama_kota] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TblKota] PRIMARY KEY CLUSTERED 
(
	[id_kota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblKotas]    Script Date: 11/11/2016 15.08.49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKotas](
	[id_kota] [int] IDENTITY(1,1) NOT NULL,
	[id_propinsi] [int] NOT NULL,
	[nama_kota] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TblKotas] PRIMARY KEY CLUSTERED 
(
	[id_kota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblPropinsi]    Script Date: 11/11/2016 15.08.49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPropinsi](
	[id_propinsi] [int] IDENTITY(1,1) NOT NULL,
	[nama_propinsi] [varchar](255) NOT NULL,
 CONSTRAINT [PK_TblPropinsi] PRIMARY KEY CLUSTERED 
(
	[id_propinsi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblPropinsis]    Script Date: 11/11/2016 15.08.49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPropinsis](
	[id_propinsi] [int] IDENTITY(1,1) NOT NULL,
	[nama_propinsi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TblPropinsis] PRIMARY KEY CLUSTERED 
(
	[id_propinsi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TblKota] ON 

INSERT [dbo].[TblKota] ([id_kota], [id_propinsi], [nama_kota]) VALUES (1, 1, N'Bantul')
INSERT [dbo].[TblKota] ([id_kota], [id_propinsi], [nama_kota]) VALUES (2, 1, N'Seleman')
SET IDENTITY_INSERT [dbo].[TblKota] OFF
SET IDENTITY_INSERT [dbo].[TblKotas] ON 

INSERT [dbo].[TblKotas] ([id_kota], [id_propinsi], [nama_kota]) VALUES (1, 1, N'Bantul')
INSERT [dbo].[TblKotas] ([id_kota], [id_propinsi], [nama_kota]) VALUES (2, 2, N'Jakarta Selatan')
INSERT [dbo].[TblKotas] ([id_kota], [id_propinsi], [nama_kota]) VALUES (3, 1, N'Seleman')
SET IDENTITY_INSERT [dbo].[TblKotas] OFF
SET IDENTITY_INSERT [dbo].[TblPropinsis] ON 

INSERT [dbo].[TblPropinsis] ([id_propinsi], [nama_propinsi]) VALUES (1, N'Yogyakarta')
INSERT [dbo].[TblPropinsis] ([id_propinsi], [nama_propinsi]) VALUES (2, N'Jakarta')
INSERT [dbo].[TblPropinsis] ([id_propinsi], [nama_propinsi]) VALUES (3, N'Jawa Tengah')
SET IDENTITY_INSERT [dbo].[TblPropinsis] OFF
/****** Object:  Index [IX_id_propinsi]    Script Date: 11/11/2016 15.08.49 ******/
CREATE NONCLUSTERED INDEX [IX_id_propinsi] ON [dbo].[TblKotas]
(
	[id_propinsi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblKotas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblKotas_dbo.TblPropinsis_id_propinsi] FOREIGN KEY([id_propinsi])
REFERENCES [dbo].[TblPropinsis] ([id_propinsi])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblKotas] CHECK CONSTRAINT [FK_dbo.TblKotas_dbo.TblPropinsis_id_propinsi]
GO
USE [master]
GO
